gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java

# signing
_signing/huawei_hz20.jks
_signing/keystore.properties

# HMS specific
app/agconnect-services.json
secrets_to_unzip_in_project_root.zip